	<style>
		
		body {
	  		font-family: 'Helvetica', 'Arial', 'sans-serif'; 
			color: black;
			font-size: 11pt;		
		}

		a, a:link, a:visited, a:active {
			color: blue;
			text-decoration: underline;
		}

		a:hover {
			cursor:pointer;
			color: red;
		}

		.black10pointcourier {
	  		font-family: 'courier'; 
			color: black;
			font-size: 10pt;		
		}

		.container {
			width: 80%;
			margin: 0 auto;
		}

		.dropzone {
			border: 10px dashed gray;
			width: 20%;
			padding: 2% 2% 5% 2%;
			text-align: center;
			margin: 5px 0 5px 0;
		}

		.divTablefullwidth{
			display: table;
			width: 100%;
		}

		.divTable{
			display: table;
		}

		.divTableRow {
			display: table-row;
		}
		.divTableCell {
			display: table-cell;
			padding: 3px 3px;
		}
		.divTableBody {
			display: table-row-group;
		}

		.greenspan {
			color: green;	  
		}

		.redspan {
			color: red;	  
		}
		.credits{
			text-align: center;
		}
		.menucbutton{
		
                display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 22px;
                font-size: 14px;
                height: 50px;
                font-weight: 400;
                color: #fff;
                text-align: center;
                line-height: normal;
                background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
                border-radius: 50px;
                transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
                :hover{
                    box-shadow: 0 0 0 0.15rem #5ceace;
                }
        
		.edbutton{

                display: inline-block;
                outline: 0;
                border: 0;
                cursor: pointer;
                will-change: box-shadow,transform;
                background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
                box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
                padding: 0 32px;
                border-radius: 6px;
                color: #fff;
                height: 48px;
                font-size: 18px;
                text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
                transition: box-shadow 0.15s ease,transform 0.15s ease;
                :hover {
                    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
                    transform: translateY(-2px);
                }
                :active{
                    box-shadow: inset 0px 3px 7px #3c4fe0;
                    transform: translateY(2px);
                }
		
		}
</style>	